.magenizr-scopeconfig-info a {
  cursor: pointer;
  padding: 0.5em 0;
  display: block;
  text-decoration: none;
}
.magenizr-scopeconfig-info ul {
  list-style-type: none;
  margin-bottom: 0;
}
.magenizr-scopeconfig-info .container {
  display: none;
  border: 1px solid #d5d5d5;
  padding: 0.75em 1.25em;
  margin-top: 0.75em;
  background: #f3f3f3;
  border-radius: 1px;
}
.magenizr-scopeconfig-info .container.show {
  display: block;
}
